/* CSS Document */

body{
  background-color: #FFF;
  margin: 0px;
  font-family: 'Arimo', sans-serif;
  color: #7e8487;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Lato', sans-serif;
  color: #4e7b8b;
}

.clear{
  clear: both;
}

#header{
  margin: 0 auto;
  width: 100%;
  position : relative;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: thin solid #EEE;
  background-color: #FFF;
}

#header > .logo{
  margin-top: 35px;                 
}

#header > .rmm{
   margin: 0 auto;
   position: relative;
}

.fixed{
  position: fixed !important;
  z-index: 999;
  top: 0px !important;
}

.fixed > .rmm > ul.menu{
  margin: 15px 0 10px 0;
}
                                   
.header-content-separator{
  height: 80px;
  width: 100%;
  position: relative;
  display: none;
}

.header-contentb-separator{
  margin-top: -55px;
}

ul.menu{
  list-style-type:none;
  margin:40px 0 60px 0;
  padding:0;
}

ul.menu > li{
  display: inline;
  padding: 5px 10px 5px 10px;
  border: thin solid #FFF;
  font-size: 15pt;
  /* Fade effect */
  -o-transition:border .2s ease-out;
  -ms-transition:border .2s ease-out;
  -moz-transition:border .2s ease-out;
  -webkit-transition:border .2s ease-out;
  /* ...and now override with proper CSS property */
  transition:border .2s ease-out;
}

ul.menu > li > a{
  color: #7e8487;
  text-decoration: none;
}

ul.menu > li:hover, ul.menu > li.active{
  border: thin solid #4e7b8b;
  color: #4e7b8b;
}

/* START Top 1 Block */

#top-block{
  position: relative;
  width: 100%;
  min-height: 100px;
  background-image: url(images/img1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}

#top-block > .top-cover{
  background-color: rgba(78, 123, 139, 0.7);
  width: auto;
  height: auto;
  min-height: 100px; 
  padding-bottom: 30px;
}

#top-block > .top-cover > .text{
  position: relative;
  text-align: center;
  color: #FFF;  
  padding-top: 20px;
}

#top-block > .top-cover > .text > h1{
  color: #FFF;
  font-size: 42pt;
}

#top-block > .top-cover > .text > .separator{
  height: 1px;
  width: 100%;
  background-color: #FFF;
  opacity: 0.5;
}

#top-block > .top-cover > .text > h2{
  color: #FFF;
  font-size: 32pt;
}

/* END Top 1 block */
/* Color */

.grey-block{
   background-color: #f2f2f2;
}
/* Start Grey block */

.block{
  position: relative;
  width: 100%;
  min-height: 200px;
  padding-bottom: 20px;
}

.block > .text{
  position: relative;
  text-align: center;
  color: #000;  
  padding-top: 20px;
  width: 80%;
  margin: 0 auto;
}

.block > .text > h1{
  color: #7e8494;
  font-size: 42pt;
}

.block > .text > .separator{
  height: 1px;
  width: 100%;
  background-color: #7e8494;
  opacity: 0.5;
}

.block > .text > h2{
  color: #7e8494;
  font-size: 32pt;
}

/* END Grey block */
/* START Cirlce Div */
@media screen and (max-device-width: 740px){
  .center{
    display: block !important;
  }
  
  .circle{
    float: none !important;
  }
}
.center{
  margin: 0 auto;
  width: 100%;
  text-align: center; 
  display: inline-flex;
}

.circle{

    margin: 0 auto;
    float: left;
    width: 290px;
    height: 250px;
    padding-bottom: 30px;
}


.circle > .img{
   width: 250px;
   height: 250px;
   border-radius: 50%;
   background-image: url(images/img1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.circle > .img > .cover{
  background-color: rgba(78, 123, 139, 0.7);
  width: 250px;
  height: 250px;
  border-radius: 50%;
  text-align: center;
  
}

.circle > .img > .cover > h2{
  color: #FFF;
  padding-top: 100px;
  font-size: 30pt;
}
/* END Circle Div */

#content{
  width: 80%;
  margin: 0 auto;
}

#bottom-block{
  position: relative;
  width: 100%;
  min-height: 200px;
  background-image: url(images/img1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#bottom-block > .bottom-cover{
  background-color: rgba(78, 123, 139, 0.7);
  width: auto;
  height: auto;
  min-height: 200px;
}

#bottom-block > .bottom-cover > .text{
  position: relative;
  text-align: center;
  color: #FFF;  
  padding-top: 15px;
}

#bottom-block > .bottom-cover > .text > img{
  padding: 10px 15px 10px 15px;
}

#bottom-block > .bottom-cover > .text > h2{
  color: #FFF;
  font-size: 26pt;
}

footer{
  text-align: center;
  min-height: 40px;
  width: 80%;
  padding-top: 40px;
  font-size: 10pt;
  margin: 0 auto;
}

@media screen and (max-device-width: 740px){
  footer > img{
    position: relative;
    height: 60px;
    margin: 0 auto;
    bottom: 5px;
  }
}

@media screen and (min-device-width: 741px){
  footer > img{
    position: relative;
    height: 60px;
    margin-right: 0px;
    margin-top: -70px; 
    float: right;
  }
}

.project-grid{
  /*padding: 10px;*/
  padding-bottom: 30px;   
}


.project-grid > div{
  display: inline-table;
  height: 320px;
  width: 270px;
  border: thin solid #7e8487;
  margin: 10px 20px 10px 0px;
}

.project-grid > div > img{
  width: 100%;
}

.project-grid > div > h3, .project-grid > div > p{
  margin: 15px;
  color: #7e8487;
}


/* START Buble */
.triangle-isosceles {
  position: relative;
  padding: 15px;
  margin: 1em 0 3em;
  color: #000;
  background: #FFF;
  border-radius: 10px;
  background: linear-gradient(top, #FFF, #FFF);
}

/* creates triangle */
.triangle-isosceles:after {
  content: "";
  display: block; /* reduce the damage in FF3.0 */
  position: absolute;
  bottom: -15px;
  left: 50px;
  width: 0;
  border-width: 15px 15px 0;
  border-style: solid;
  border-color: #FFF transparent;
}

.text > .comment-author{
  text-align: left;
  margin-top: -20px;
  margin-left: 20px;
  color: #7e8494;
  font-style: italic;
  
}

/* END Buble */

/* START Project detail */
.project-detail{
  position: relative;
  width: 100%;
  padding-bottom: 30px;
}

.project-detail > .project-left{
  float: left;
  width: 40%;
}

.project-detail > .project-right{
  float: right;
  width: 60%;
}

.project-left > .detail-foto{
  width: 100%;
  height: auto;
}

@media screen and (max-device-width: 740px){
  .project-detail > .project-left{
    float: none;
    width: 100%;
  }

  .project-detail > .project-right{
    float: none;
    width: 100%;
  }
  
  .project-detail > .project-right > .project-detail-table{
    float: none;
    width: 100%;
  }
}

/* END Project detail */

/* START TABLE */
.project-detail-table{
  float: right;
  width: 80%;
  border: 0px;
  border-collapse: collapse;
}

.project-detail-table tr td{
  padding: 5px ;
}


.project-detail-table tr:nth-child(even) { /*(even) or (2n 0)*/
	background: #FFF;
}
.project-detail-table tr:nth-child(odd) { /*(odd) or (2n 1)*/
  background-color: rgb(237,237,237);
}

/* END TABL */